{% extends 'box.html.twig' %}

{% block title %}{{ 'Forgot password'|trans }} | {{ 'Relink'|trans }}{% endblock %}

{% block content %}
    <div class="card shadow border-0">
        <div class="card-body">
            <h5 class="text-primary">{{ 'Forgot password'|trans }}</h5>
            <p class="card-text">{{ 'Enter your registered email address below to receive a password reset link on your email.'|trans }}</p>
            {% form_theme form '_form.html.twig' %}
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-success" type="submit">
                    <i class="fas fa-paper-plane mr-1"></i> {{ 'Send'|trans }}
                </button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
