{% extends 'box.html.twig' %}

{% block title %}{{ 'Reset password'|trans }} | {{ 'Relink'|trans }}{% endblock %}

{% block content %}
    <div class="card shadow border-0">
        <div class="card-body">
            <h5 class="text-primary">{{ 'Reset password'|trans }}</h5>
            <p class="card-text">{{ 'Enter your desired new password twice and click Reset to update it.'|trans }}</p>
            {% form_theme form '_form.html.twig' %}
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-success" type="submit">
                    <i class="fas fa-check-double mr-1"></i> {{ 'Reset'|trans }}
                </button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
