{% extends 'console.html.twig' %}

{% block title %}{{ 'Settings'|trans }} | {{ 'Relink'|trans }}{% endblock %}

{% block heading %}{{ 'Settings'|trans }}{% endblock %}
{% block subheading %}{{ 'Update application settings.'|trans }}{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url('dashboard_index') }}">{{ 'Relink'|trans }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ 'Settings'|trans }}</li>
        </ol>
    </nav>
    <div class="card shadow border-0">
        <div class="card-body">
            <div class="row">
                <div class="col-md-10">
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <div class="row">
                            <div class="offset-sm-3 col-sm-9">
                                <button class="btn btn-success" type="submit">
                                    <i class="fas fa-check mr-1"></i> {{ 'Update'|trans }}
                                </button>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
