{% extends 'email.html.twig' %}

{% block content %}
    <h1>{{ 'Reset password'|trans({}, 'messages', 'en') }}</h1>
    <h3>{{ 'Hello %user%!'|trans({'%user%': token.user.name}, 'messages', 'en') }}</h3>
    {% set href = url('reset_password', {'token': token.token}) %}
    <p>{{ 'You can reset your password either by <a href="%href%">clicking here</a> or visiting below url in your favorite internet browser:'|trans({'%href%': href}, 'messages', 'en')|raw }}</p>
    <p><a href="{{ href }}">{{ href }}</a></p>
{% endblock %}
